@import url(./swiper-bundle.min.css);
@import url(./bootstrap.min.css);
@import url(./aos.css);
@import url(./fonts/YekanBakh/fontface.css);
/* basics */
:root {
    --primary: #361907;
    --bs-secondary-rgb: 255,9,106;
    --bs-primary-rgb: 54, 25, 7;
    --bs-btn-active-bg: 65, 33, 13;
}

html,
body {
    background-color: black;
    font-family: Yekan;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

.ls-wide {
    letter-spacing: 2.5px;
}

.discount article,
.banner {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

main {
    background-color: black !important;
    background: url("../assets/Bargeh.webp");
    background-size: contain;
    background-position: top;
    background-repeat-x: no-repeat;
}

.ghotbnama {
    animation: compass 2.0s ease-in-out alternate infinite;
    transform-origin: center center;
    bottom: 20px;
}
.slider .product-card {
    position:relative;
    padding: 10px;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.product-card .img-box .product-card-img {
    object-fit: contain;
    height: auto;
    width: 100%;
    aspect-ratio: 1;
}

.naghus:before {
    position: absolute;
    display: block;
    top: -150px;
    content: url('../assets/Naghoos.png');
}

.wave {
    background: url('../assets/Wave.png') no-repeat center;
    background-size: cover;
}

.banner-box img {
    width: 100%;
    object-fit: contain;
}

/* animations */
/*@keyframes ghotbnama {*/
/*    to {*/
/*        transform: rotate(1turn);*/
/*    }*/
/*}*/
@keyframes compass {
    0% {
        transform: rotate(0deg) translateY(0);
    }
    50% {
        transform: rotate(60deg) translateY(-5px);
    }
    100% {
        transform: rotate(-120deg) translateY(0);
    }
}


@media (max-width: 768px) {
    .carousel-bg {
        width: auto;
        min-height: 450px;
        transform: translateY(-50%);
        top: 50%;
    }
}

@media (min-width: 768px) {
    .gifts article:nth-child(2):before {
        content: url('../assets/Pomegranate-v1.webp');
        position: absolute;
        right: -120px;
        top: calc(50% - 69px);
        z-index: -1;
    }

    .carousel-bg {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .banner {
        background: url('../assets/banner-bg.webp');
        min-height: 300px;
    }

    /* Common styles for all slides */
    .swiper-slide .line-drawer img {
        height: auto !important;
        bottom: 0 !important;
        top: 0 !important;
        margin: auto;
        max-width: 100%;
        transition: clip-path 1.5s ease-out;
    }

    .swiper-slide .text-drawer {
        opacity: 0;
        transition: all 0.7s ease-out 0.7s;
    }

    .swiper-slide.visible-item .text-drawer,
    .swiper-slide.swiper-slide-visible .text-drawer {
        opacity: 1;
    }

    /* Initial state for the first three slides */
    .swiper-slide:nth-child(n+3) .line-drawer img {
        clip-path: polygon(0 0, 0 0, 0% 0%, 0% 0%);
    }

    /* Final state for the first three slides */
    .swiper-slide:nth-child(n+3).visible-item .line-drawer img,
    .swiper-slide:nth-child(n+3).swiper-slide-visible .line-drawer img {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    /* Initial state for slides after the fourth slide */
    .swiper-slide:nth-child(n+5) .line-drawer img {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }

    /* Final state for slides after the fourth slide */
    .swiper-slide:nth-child(n+5).visible-item .line-drawer img,
    .swiper-slide:nth-child(n+5).swiper-slide-visible .line-drawer img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    /* Final state for slides after the third slide */
    .swiper-slide:nth-child(n+4).visible-item .line-drawer img,
    .swiper-slide:nth-child(n+4).swiper-slide-visible .line-drawer img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    /* Special handling for the fifth slide */
    .swiper-slide:nth-child(n+5).line-drawer img {
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
    }

    /* Final state for the fifth slide */
    .swiper-slide:nth-child(n+5).visible-item .line-drawer img,
    .swiper-slide:nth-child(n+5).swiper-slide-visible .line-drawer img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }


    .swiper-container {
        background: url("../assets/landing-BG.webp");
        background-position: 100% !important;
        max-height: 95vh !important;
        max-width: 1600px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media (min-width: 993px) and (max-width: 1300px) {
    .Pomegranate, .discount article:nth-child(2):before {
        width: 150px !important;
    }
}

@media (max-width: 993px) {
    .naghus:before {
        left: -80px !important;
    }

    main {
        padding-top: 120px;
    }

    .gift-header {
        left: 0;
        bottom: 10px;
        opacity: 0.6;
    }

    .mobile-header {
        background: url("../assets/map-bg-responsive.png");
        background-size: contain;
        background-repeat: no-repeat !important;
        background-position: top !important;
    }

    .Pomegranate, .discount article:nth-child(2):before {
        width: 120px !important;
    }
}

@media (min-width: 768px) and (max-width: 993px) {
}

@media (min-width: 993px) {
    .naghus:before {
        left: -150px;
    }

    .gift-header {
        left: 350px;
        bottom: 10px;
        opacity: 0.6;
    }

    .discount article.half,
    .discount article.full {
        min-height: 400px;
    }

    .discount article.carousel-full {
        min-height: 475px;
    }
}